@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .code {
    font-family: Consolas, "courier new";
    color: crimson;
    background-color: #f1f1f1;
    font-size: 105%;
  }

  .highlight {
    background-color: #e5ed09;
  }

  .math-highlight {
    background-color: hsl(30, 12%, 93%);
 
  }
}
